* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Bebas Neue", sans-serif;
}
/* ........commom........ */
a {
  text-decoration: none;
}
.premium {
  display: flex;
  font-family: "Be Vietnam Pro", sans-serif;
  /* border: 1px solid #022855; */
  font-size: 1.4rem;
  width: 1540px;
  height: 48px;
  background-color: #022855;
}
.premium2 {
  width: 120px;
  height: 27px;
  font-size: 1rem;
  margin: auto 15px;
  padding-left: 8px;
  padding-top: 8px;
  background-color: #005381;
}
.premium2 a {
  color: #fff;
}
.premium p {
  padding-left: 450px;
  padding-top: 10px;
}
/* ....header.... */
.main-content {
  width: 1540px;
  height: 276px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
}
.header .body {
  display: flex;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.3rem;
  /* background-color: #fff; */
}
.header .logo {
  display: flex;
  width: 130px;
  height: 130px;
  margin-left: 150px;
}
.header .send {
  display: flex;
  width: 618px;
  height: 41px;
  background-color: #0000004d;
  border-radius: 20px 20px;
  margin-left: 60px;
  margin-top: 40px;
  padding-top: 13px;
  overflow: hidden;
}
.send .send-send1 {
  width: 192px;
  height: 19px;
  margin-left: 10px;
  margin-right: 50px;
}
.send .send-send2 {
  width: 168px;
  height: 41px;
  margin-left: 170px;
}
.send .send-sen3 {
  width: 19px;
  height: 19px;
}
.send a {
  color: #022855;
}
.header .phone {
  display: flex;
  margin: 40px 70px;
}
.phone img {
  display: flex;
  width: 30px;
  height: 30px;
}
.icon {
  width: 133px;
  height: 29px;
  margin-top: 40px;
}
.icon {
  width: 133;
  height: 29;
  opacity: 1;
  margin-top: 40px;
}
.icon .icon-demo4 {
  width: 25px;
  height: 25px;
  padding-bottom: 12px;
  margin-left: -15px;
}
.icon img {
  padding-left: 10px;
}
.boder {
  width: 1256px;
  height: 0px;
  border: 1px solid #0000004d;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*.... nav.... */
.nav {
  width: 1439;
  height: 62;
  background-color: #e5e6e8;
  margin-top: 20px;
  /* padding-left: 10px; */
}
.nav ul {
  display: flex;
  width: 91;
  height: 35;
}
.nav ul li {
  padding: 0 4px;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 35px;
  letter-spacing: 0%;
  color: #022855;
  margin-left: 20px;
}
.nav a {
  color: #022855;
}
.nav a:hover {
  color: black;
}
/* ..............arrow.......... */
.arrow {
  display: flex;
  width: 1540px;
  height: 668px;
  background-image: url(../img/d34fb5e41743b5a3fedb919bf94810328d5f9d94.png);
}
.arrow_arrow-2 {
  width: 652px;
  height: 295px;
  background-color: #ffffffbf;
  margin-top: 200px;
  margin-left: -1020px;
}
.arrow_arrow-2 h1 {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  color: #022855;
}
.arrow_arrow-2 h2 {
  font-family: Bebas Neue;
  font-weight: 400;
  font-style: Regular;
  font-size: 70px;
  /* leading-trim: NONE; */
  line-height: 70px;
  letter-spacing: 3%;
  text-align: center;
  padding-top: 20px;
  color: #022855;
}
.arrow_arrow-1 {
  width: 1440px;
  height: 49px;
  border: 1px solid black;
  /* background-color: brown; */
  margin-top: 320px;
  display: flex;
}
.arrow-righth {
  /* margin-left: 1360px; */
  width: 39.52406692504898px;
  height: 39.52406692504898px;
}
.arrow-right img {
  padding-top: 5px;
  padding-left: 1440px;
}
.arrow-left img {
  padding-top: 5px;
}
.arrow__bottom {
  width: 292px;
  height: 46px;
  background-color: #022855;
}
.arrow__bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.arrow__bottom p {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  /* leading-trim: NONE; */
  line-height: 36px;
  /* letter-spacing: 0%; */
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 5px;
}

/* .............vector........... */
.vector {
  text-align: center;
  display: flex;
  width: 1227px;
  height: 244px;
  margin-left: 100px;
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 70px;
}
.vector .vector-smart2 {
  margin: 0 30px;
}
.vector h2 {
  font-style: Regular;
  font-size: 25px;
  letter-spacing: 10%;
  text-align: center;
  color: #022855;
}
.vector p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5rem;
}
/*............ item.............. */
.item {
  width: 1440px;
  height: 507px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Jost", sans-serif;
  background-color: #e5e6e8;
  margin-top: 50px;
  padding-left: 60px;
}
.item .rectangle {
  display: flex;
  width: 307px;
  height: 406px;
}
.item .content {
  width: 812px;
  height: 49px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 55px;
  margin-left: 470px;
  padding-top: 40px;
}
.rectangle p {
  width: 132;
  height: 55;
  font-size: 18px;
  text-align: center;
  color: #022855;
}
.rectangle {
  margin: 0 20px;
  padding-top: 70px;
}
.rectangle .rectangle-1 {
  padding-right: 20px;
}
.rectangle .rectangle-2 {
  padding-right: 20px;
}
.rectangle .rectangle-3 {
  padding-right: 20px;
}
.rectangle img {
  width: 305px;
}
.export {
  width: 1296px;
  height: 690px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: Bebas Neue;
  font-style: Regular;
  color: #fff;
}
.export h1 {
  /* width: 419px;
  height: 55px; */
  /* font-family: Bebas Neue; */
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 65px;
  line-height: 55px;
  letter-spacing: 10%;
  color: #022855;
  text-align: center;
  /* padding-top: 20px; */
}
.export-export2 {
  width: 610px;
  height: 467px;
  background-color: #022855;
  /* color: #fff; */
  /* display: flex; */
  margin-left: 30px;
  margin-right: 30px;
}
.export-export3 {
  display: flex;
  padding-top: 40px;
  /* font-family: Bebas Neue; */
  /* font-style: Regular; */
  /* color: #fff; */
}
.export_conten {
  padding-top: 45px;
  padding-left: 120px;
}

.export_conten p {
  font-size: 55px;
  line-height: 40px;
  letter-spacing: 3%;
  padding-bottom: 10px;
}
.export_conten span {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 3%;
}
.export_img {
  width: 140px;
  height: 140px;
  padding-left: 140px;
}
.content-conten2 {
  font-family: Be Vietnam;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  /* line-height: 25px;
  letter-spacing: 3%; */
  width: 570px;
  height: 190px;
  text-align: center;
  padding-top: 80px;
  padding-left: 50px;
}
.export_export11 {
  display: flex;
  margin-top: 50px;
}
.dot {
  width: 120;
  height: 40;
  angle: 0 deg;
  opacity: 1;
  top: 2723px;
  left: 660px;
  margin-left: 590px;
  margin-top: 30px;
}
.tipp {
  text-align: center;
  width: 1440px;
  height: 417px;
  background-color: #e5e6e8;
  margin: auto auto;
}
.tipp h2 {
  font-family: Bebas Neue;
  font-weight: 400;
  font-style: Regular;
  font-size: 45px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 3%;
  text-align: center;
  padding-top: 40px;
  color: #022855;
}
.tipp span,
.tipp p {
  font-family: Be Vietnam;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 3%;
  color: #555555;
}
.exporrettangle {
  width: 1440px;
  height: 459px;
  margin-left: 40px;
  margin-top: 40px;
}
.exporrettangle h1 {
  width: 543px;
  height: 55px;
  font-style: Regular;
  font-size: 55px;
  leading-trim: NONE;
  /* line-height: 55px; */
  letter-spacing: 3%;
  text-align: center;
  margin-left: 450px;
  color: #022855;
}
.exporrettangle img {
  width: 277px;
  height: 255px;
}
.exportrettangle_rettangle {
  display: flex;
}
.exportrettangle_rettangle1 {
  width: 277px;
  height: 400px;
  margin-left: 5px;
  margin-right: 5px;
}
.exportrettangle_rettangle h3 {
  font-family: Bebas Neue;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  /* line-height: 55px; */
  letter-spacing: 3%;
  text-align: center;
  padding-top: 15px;
  color: #555555;
}
.exportrettangle_rettangle span,
p {
  font-family: Bebas Neue;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 35px;
  letter-spacing: 3%;
  text-align: center;
}
/* .exportrettangle_rettangle span {
  padding-left: 25px;
  color: #022855;
} */
.exportrettangle_rettangle p {
  color: #555555;
}
.exportrettangle-rettangle_1 {
  width: 190px;
  height: 40px;
  font-family: Jost;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  /* line-height: 30px; */
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: #022855;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
.exportrettangle-rettangle_1 p {
  color: #fff;
}
/* =========footer======== */
.footer {
  /* width: 1440px; */
  height: 426px;
  angle: 0 deg;
  opacity: 1;
  top: 3832px;
  background-color: #022855;
  margin-top: 50px;
}
.footer_footer {
  display: flex;
  font-family: Jost;
  color: #fff;
  line-height: 30px;
  padding-left: 60px;
  padding-top: 50px;
}

.footer_footer .img {
  width: 320px;
  height: 118px;
}
.footer_footer .content1 {
  width: 239px;
  height: 227px;
  margin-left: 70px;
}
.footer_footer .content2 {
  width: 252px;
  height: 163px;
  margin-left: 70px;
}
.footer_footer .content3 {
  width: 155.48199462890625px;
  height: 243px;
  margin-left: 70px;
}
.footer_footer .content4 {
  width: 186px;
  height: 168px;
  margin-left: 70px;
}
.footer_footer h2 {
  font-family: Jost;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
}
.footer_footer h3 {
  font-family: Jost;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #d9d9d9;
}
.footer_footer span {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  color: #d9d9d9;
}
.footer hr {
  margin-top: 60px;
  color: #d9d9d9;
}
.footer p {
  font-family: Jost;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
